

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins, sans-serif;
}

body{
    min-height: 100vh;
    background:url('../images/platter.jpg');
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 5px 100px;
    z-index: 10000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.5s;
    background-color: #581845;
    box-shadow: 0 5px 20px rgba(0,0,0,0.05);
}

header .admin-title{
    display: flex;
    flex-direction: column;
}

header .admin-title h6{
    text-align: right;
    position: relative;
    right: 10px;
    font-size: 0.9em;
    color: #fff;
    font-weight: 400;
}

header .logo{
    color: #fff;
    font-weight: 700;
    font-size: 1.8em;
    text-decoration: none;

}
header .logo span{
    color: #111;

}

header .navigation{
    position:  relative;
    display: flex;

}

header .navigation li{
    list-style: none;
    margin-left: 30px;
}

header .navigation li a{
    
    text-decoration: none;
    color: #fff;
    font-weight: 400;
}






.container,
 .manage-food,
 .manage-user,
 .manage-admin{
   
    position: relative;
    top: 80px;
    width: 40%;
    min-height: 100%;
    padding: 40px 0;
        
}


/* title text design */



.container .content{
    padding: 80px 200px;
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-wrap:wrap;
    justify-content: space-around;
    /* align-items: center; */
}


.container .or-content{
    padding: 80px 200px;
    
}


.container .content a{
    text-decoration: none;
    color: #fff;
    padding: 0;
    margin: 0;
}

.container .content .box{
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    width: 240px;
    height: 120px;
    margin: 10px;
    text-align: center;
    padding: 10px 30px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.377);
    border-radius: 10px;
    background: #F12421;
    transition: transform 0.5s;
}


.container .content .del-box{
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    width: 250px;
    height: 120px;
    margin: 10px;
    text-align: center;
    padding: 10px 30px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.377);
    border-radius: 10px;
    background: #ff6721;
    transition: transform 0.5s;
}

.container .content .box:hover{
    transform: translate(0, -10px);
}

.container .content .del-box:hover{
    transform: translate(0, -10px);
}


.btn{
    color: #111;
    border: none;
    background-color: #fff;
    padding: 3px;
}








/* styling for manage-food page */

/* food page and user page title   */
.container .title h2,
 .manage-food .title h2,
  .manage-user .title h2,
  .manage-admin .title h2{
    
    font-size: 2rem;
    font-weight: 600;
    color:#fff;
    text-align: center;

}

.mrgn-bot{
    margin-bottom: 20px;
}

.title-wr{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title .color-pink{
    color:#ff0157!important;
}

.manage-orders .title-wr h2,
.manage-food .title-wr h2,
 .manage-user .title-wr h2,
 .manage-admin .title-wr h2{

    text-align: left;

}

/* title and btn margin */
.title-wr .btn-wr{
    margin: 10px 0;
}


.tbl-wrapper{
    
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* table style start here */
.data-tbl{    
    border-collapse: collapse;
    margin: 40px 0;
    font-size: 1.1em;
    min-width: 80%;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.data-tbl thead tr{
    background-color: #009879;
    color: #fff;
    
}

.data-tbl tbody td{
    border-left: 1px dotted #0000003a;
    border-right: 1px dotted #0000003a;
    box-sizing: border-box;
    /* height: 150px; */
}

.data-tbl thead th{
    border-left: 1px dotted #0000003a;
    border-right: 1px dotted #0000003a;

}

.data-tbl th, .data-tbl td{
    text-align: left;
    padding: 12px 12px;
    
}

.data-tbl tbody tr{
    border-bottom: 1px solid #ddd;
}

.data-tbl tbody tr{
    background-color: #fff;

}

.data-tbl tbody tr:last-of-type{
    border-bottom: 2px solid #009879;

}


/* food table image and action buttons decoration */
.data-tbl tbody tr img{
    width:74px;
}

.data-tbl tbody tr .simple-td{
    padding: 2px 20px;
 
}

.data-tbl tbody tr .simple{
    text-decoration: none;
    font-size: 0.8em;
    font-weight: 400;
    color: #4b30c5;
}




.data-tbl tbody span{
    font-size: 0.8em;

}

.data-tbl tbody tr .btn-del, .data-tbl tbody tr .btn-mdf{
    padding: 8px;
    text-decoration: none;
    color: #fff;
    margin: 3px;
    border-radius: 3px;
}
.data-tbl tbody tr .btn-del{
    background-color: #ee1b1b;
     
}


.data-tbl tbody tr .btn-del:hover{
    background-color: #ff004c;
}
.data-tbl tbody tr .btn-mdf{
       
    background-color: #2074b8;
}

.data-tbl tbody tr .btn-mdf:hover{
    background-color: #009879;
}

/* modal starts here */


/* The Modal (background) */
.title-wr .title, .title-wr .btn-wr{
    min-width: 850px;
}

.title-wr .myBtn{
    padding: 8px;
    outline: none;
    border: none;
    color: #fff;
    background-color: #4682b4;
    border-radius: 3px;
}

.title-wr .myBtn:hover{
    background-color: #009879;
}

/* add admin button style */
.title-wr .btn-wr a{
    text-decoration: none;
    background-color: #2074b8;
    padding: 6px;
    color: #fff;
    border-radius: 3px;
    
}

.title-wr .btn-wr a:hover{
    background-color: #009879;
}

.modal {
    display: none; 
    position: fixed;
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    /* overflow: auto; */
    
    background-color: rgba(0,0,0,0.4); 
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 13% auto;
    padding: 10px;
    border-radius: 8px;
    width: 45%;
    height: 65%;
  }

  .modal-content2 {
    background-color: #ffffff;
    margin: 8% auto;
    padding: 10px;
    border-radius: 8px;
    width: 45%;
    height: 70%;
    height: 70%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);


  }
  
  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover{
    color: black;
    text-decoration: none;
    cursor: pointer;
  }


  /* modal -> modal-content -> span .close, frm-wrp */


.modal-content .frm-wrp, .modal-content2 .frm-wrp{
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 75%;
    align-items: center;
    justify-content: center;
}

#frm-wrp2{
    margin-top: 40px; 
}
.modal-content .mdl-title, .modal-content2 .mdl-title{
    margin-bottom: 20px;
}
.modal-content .mdl-title h2, .modal-content2 .mdl-title h2{
    color: #0021dda6;
    text-align: center;
    
}

.modal-content .frm-wrp .frm-box, .modal-content2 .frm-wrp .frm-box{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin: 10px;
    
}

.modal-content .frm-wrp input[type="text"], .modal-content2 .frm-wrp input[type="email"], .modal-content .frm-wrp textarea,
.modal-content2 .frm-wrp input[type="text"], .modal-content2 .frm-wrp textarea{
    width: 250px;
    padding: 5px;
    outline: none;
    border: 2px solid #0021dda6;
    border-radius: 5px;
}

.modal-content .frm-wrp input[type="file"],
.modal-content2 .frm-wrp input[type="file"]{
    margin-left: 35px;
    color: #ff0157;
}

.modal-content .frm-wrp .btn-sm, .modal-content2 .frm-wrp .btn-sm{
    margin-top: 10px;
    padding: 7px 35px;
    background: #ff6347;
    outline: none;
    border: none;
    border-radius: 3px;
    font-size: 0.9em;
    font-weight: 500;
    color: #fff;
    letter-spacing: 1px;
    transition: 0.5s;
}

.modal-content .frm-wrp .btn-sm:hover, .modal-content2 .frm-wrp .btn-sm:hover{
    letter-spacing: 6px;
}

/* more user page style */
.usr-tbl thead tr,
.admn-tbl thead tr{
    background-color: #009879;
    
    
}





/* responsive */
  @media (max-width: 907px){

    header, header.sticky{        
        padding: 10px 20px;
    }

    header .navigation{
        display: none;
    }

    header .navigation.active{
        width: 100%;
        height: calc(100% - 60px);
        position: fixed;
        top: 68px; 
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background: #fff;
    }

    header .navigation li{

        margin-left: 0;
    }
    header .navigation li a{

        color: #111;
        font-size: 1.6em;

    }

    .menuToggle{
        position: relative;
        width: 40px;
        height: 40px;
        background: url(../images/menu.png);
        background-size: 30px;
        background-repeat: no-repeat;
        background-position: center;
        cursor: pointer;

    }
   
    .menuToggle.active{
        background: url(../images/close.png);
        background-size: 25px;
        background-repeat: no-repeat;
        background-position: center;
        cursor: pointer;
    }

    header .menuToggle{
        filter: invert(1);
    }
    
/* table */
      
    .title-wr .title, .title-wr .btn-wr{
        min-width: 650px;
    }
  
    .data-tbl{    
        
        margin: 60px 0;
        font-size: 1.1em;
        min-width: 650px;
        
    }
    
    
}


@media (max-width : 657px){
    .title-wr .title, .title-wr .btn-wr{
        min-width: 450px;
    }
  
    .data-tbl{    
        
        
        font-size: 0.9em;
        min-width: 450px;
        
    }

    .data-tbl th, .data-tbl td{
        text-align: center;
        padding: 18px 10px;
        
    }
}


.size-150{
    width: 180px;
    
}


.icon{
    width: 44px;
    margin: 0 10px;

}

.title-ico{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}


.title-ico2 {
    display: flex;
    align-items: center;
}

.title-ico2 h2{
    display: inline-block;
}





/* invoice page styling */
.invoice{
    margin-top: 100px;
}
.invoice-box {
    background-color: #fff;
    max-width: 800px;
    margin: auto;
    padding: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);

}

.invoice-box .heading td{
    height: 48px;
    color: #fff;
}

.invoice-box table td{
    color: #111;
}

.invoice-box h2{
    font-size: 2rem;
    color: #111;
    padding: 5px 10px;
}

.invoice-box h2 span{
    color: #ff0157;
}

.invoice-box table {
    width: 100%;
    text-align: left;
    border-collapse: collapse;
}

.invoice-box table td {
    padding: 5px;    
}


/* table heading */
.invoice-box table .heading td {
    background-color: #181431;
    font-weight: 700;
    
}

.txt-bold{
    font-weight: 700;
}

.invoice-box table .inf-row td {
    border-bottom: 1px solid #0000001c;
}


.invoice-box table .row-imgbx td {
    height: 100px;

}

.invoice-box table .row-imgbx .prod-imgbx{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.invoice-box table .row-imgbx img{
    width: 100px;
    height: 100%;
    object-fit: cover;
}


@media only screen and (max-width: 600px) {
    .invoice-box table .top table td {
        width: 100%;
        display: block;
        text-align: center;
    }

    .invoice-box table .information table td {
        width: 100%;
        display: block;
        text-align: center;
    }
}

