

.copyrightText{
    position: sticky;
    top: 100%;
    padding: 2px 40px;
    margin-top: 52px;
    background-color: #111;
    text-align: center;
    /* height: 100px; */

}

.copyrightText p{
    color: #fff;
}

.copyrightText span{
    font-weight: 500;
}
